{% extends './base.html' %}
    {% block body %}
            <!--面包屑-->
            <div class="crumbs-wrapper zcard content-20"> <a href="#!" class="">首页</a> / <a href="#!" class="">论坛</a> / <a href="#!" class="active">前端</a> </div>
            <div style="margin-bottom: 15px;">
                <!-- Modal Trigger -->
                {% if user.role < 2 %}
                <a class="modal-trigger waves-effect waves-light btn" href="#modal1">新任务</a> 
                {% endif %}
            </div>
            <div class="c-content row">
                <!-- 任务卡片组 -->
                <!-- 可回答：蓝色 已回答：绿色 未解锁：红色 -->
                {% for que in quePageData.data %}
                    <div class="col s12 m3">
                        {% if user.role < 2 %}
                        <div class="card green">
                            <div class="card-content" style="text-align: center">
                                <span style="color:#fff;font-size: 32px">
                                    {{que.level}}
                                </span>
                            </div>
                            <div class="card-action white">
                                <a href="/question/details?id={{que.id}}">{{que.title}}</a>
                            </div>
                        </div>
                        {% else %}
                        <!-- 未解锁 -->
                        {% if (can_answer < que.level or not user ) %}
                        <div class="card deep-orange darken-3">
                        <!-- 已解锁 -->
                        {% else %}
                        {% set color = 'blue' %}
                        {% for i in hasAnswerList  %}
                            {% if i == que.level %}
                                {% set color = 'green' %}
                            {% endif %}
                        {% endfor %}
                        <!-- 可回答 -->
                        <div class="card {{color}}">
                        {% endif %}
                            <div class="card-content" style="text-align: center">
                                <span style="color:#fff;font-size: 32px">
                                    {{que.level}}
                                </span>
                            </div>
                            <div class="card-action white">
                                {% if can_answer < que.level%}
                                <span class="disabled" style="color:silver">{{que.title}}</span>
                                {% else %}
                                <a href="/question/details?id={{que.id}}">{{que.title}}</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                 {% endfor %} 
                    <div class="clear"></div>
                    <!-- 分页 -->
                    <div style="text-align:center;margin:20px 0;">
                        <ul class="pagination">
                            <li class="waves-effect" id="page_pre"><a href="?page={{quePageData.currentPage-1}}"><i class="material-icons">chevron_left</i></a></li>
                            {% for i in range(1,quePageData.totalPages+1) %}
                            <li id="page_{{i}}"><a href="?page={{i}}">{{i}}</a></li>
                            {% endfor %}
                            <li class="waves-effect" id="page_next"><a href="?page={{quePageData.currentPage+1}}"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- markdown editor -->
        <!-- Modal Structure -->
        <div id="modal1" class="modal bottom-sheet" style="max-height:90%;">
            <form id="form1" action="/question/add" method="post">
                <div class="e-t-wrapp">
                    <input type="text" placeholder="请输入标题..." style="border:none;font-size: 20px;
    padding-left: 8px;width: 70%;" name="title">
                    任务级别:
                        <div class="input-field inline">
                            <input id="tesk_id" type="text" name="level">
                            <label for="tesk_id" data-error="wrong" data-success="right">级别</label>
                        </div>
                    <a class="btn right" onclick="subme()">提交</a>
                </div>
                <div class="clear"></div>
                <div id="editormd">
                    <textarea name="content_md" id="txt_md"></textarea>
                </div>
                <input name="content_html" id="txt_html" type="hidden">
            </form>
        </div> <!-- end model -->
        
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/materialize.min.js"></script>
        <script src='/static/editor/editormd.min.js'></script>
        <script>
            

            function showModal() {
                // document.getElementById('editor').style.display = 'block'
                //                $('editor').css('display','block')

            }

            $(document).ready(function() {
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal').modal();
                
                //分页
                $('#page_{{quePageData.currentPage}}').addClass('active')
                if({{quePageData.currentPage == 1}})
                    $('#page_pre').addClass('disabled')
                if({{quePageData.currentPage == quePageData.totalPages}})
                    $('#page_next').addClass('disabled')

                $('#page_pre > a').click((e) => {
                    if({{quePageData.currentPage == 1}})
                        e.preventDefault()
                })
                $('#page_next > a').click((e) => {
                    if({{quePageData.currentPage == quePageData.totalPages}})
                        e.preventDefault()
                })
            });

            //md 文本编辑器
            var testEditor = editormd("editormd", {
                width: "90%",
                height: 640,
                syncScrolling: "single",
                saveHTMLToTextarea : true,
                path: "/static/editor/lib/"
            });

            function checkForm() {
                return true
            }

            function subme() {
                // console.log(testEditor.getHTML());
                $('#txt_html').val(testEditor.getHTML())
                $('#txt_md').val(testEditor.getMarkdown())
                // alert($('#txt_html').val());
                if (checkForm()) {
                    $('#form1').submit()
                }
            }
        </script>
{% endblock %}