{% extends './base.html' %}
{% block body %}
<form action="/user/edit" method="post" id="form1" >
    <input type="hidden" name="id" value="{{user.id}}">
    <p> 头像：<input type="file" name="logo" value="{{user.logo}}"> </p>
    <p> 昵称：<input type="text" name="nickname" value="{{user.nickname}}"> </p>
    <p> 等级：<input type="text" name="level" value="{{user.level}}"> </p>
    <a class="btn" onclick="subme()">保存</a>
</form>

<script>
    function checkForm() {
        return true
    }

    function subme() {
        if (checkForm()) {
            $('#form1').submit()
        }
    }
</script>

{% endblock %}